In [3]:
import pandas as pd

In [7]:
file_path = "/Users/ryan/Desktop/bootcamp/homework/Web-Design-Challenge/WebVisualizations/Resources/cities.csv"
results = pd.read_csv(file_path)
results.to_html("convert_data.html")
results

     <table border="1" class="dataframe">
0                                 <thead>
1         <tr style="text-align: right;">
2                               <th></th>
3                        <th>City_ID</th>
4                           <th>City</th>
...                                   ...
7124                       <td>42.43</td>
7125                        <td>2.62</td>
7126                                </tr>
7127                             </tbody>
7128                             </table>

[7129 rows x 1 columns]